/* Base Typography */
html {
  font-size: 28px;
}

body {
  font: 1rem 'Helvetica Black', Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  font: bold 3.4rem 'Franklin Gothic Heavy', 'Helvetica Black', Helvetica, Arial, sans-serif;
  line-height: 3rem;
  margin: 0;
}

/* General Layout Structure */
article {
  border: 0.1rem solid black;
  box-sizing: border-box;
  line-height: 1.5rem;
  margin: auto;
  padding: 0.2rem;
  width: 24.3rem;
}

header {
  border-bottom: 1rem solid black;
}

p {
  font-size: 1.2rem;
  line-height: 1.25rem;
  margin: 0 0.12rem 0.12rem 0.12rem;
}

/* Specific Table Styling */
table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  text-align: left;
}

article > table tbody:first-of-type {
  border-bottom: 0.45rem solid black;
}

article > table tbody td:last-of-type, tbody th {
  text-align: right;
}

tbody:first-of-type td:last-of-type dt {
  font-weight: normal;
}

/* Bold DV% values in the main nutrient section */
tbody:nth-of-type(2) td:last-of-type {
  font-weight: bold;
}

.indent {
  border: none;
  width: 1rem;
}

.indent + td dt {
  font-weight: normal;
}

tbody:nth-of-type(2) {
  border-bottom: 0.9rem solid black;
}

td {
  border-top: 0.05rem solid black;
  font-size: 1.1rem;
}

dl {
  margin: 0;
}

dt {
  display: inline;
  font-weight: bold;
}

dd {
  display: inline;
  margin: 0;
}

tfoot td, footer th, footer td {
  font-size: 0.93rem;
  font-weight: normal;
  line-height: 1rem;
}

tfoot td {
  padding: 0.6rem 0 0.2rem 0.7rem;
  text-indent: -0.6rem;
}

/* Remove row borders from footer section */
footer tr:not(:first-of-type) td {
  border-top: none; 
}

footer .indent {
  text-indent: 1.25rem;
}

footer table {
  width: 100%;
}

footer tr td:first-child {
  width: 40%;
}

footer tr td:last-of-type {
  width: 10%;
}

footer tbody tr:first-of-type td {
  padding-top: 0.25rem;
}
